@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
:root {
    --very-dark-blue: hsl(243, 87%, 12%);
    --unsaturated-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}
/* GENERAL */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--very-dark-blue);
    font-size: 1rem;
}
h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
p {
    max-width: 45ch;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
}
/* SPECIFIC */
body {

    header {
        max-width: 1400px;
        margin: 0 auto;
        padding: 3rem 5rem;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            gap: 3rem;
            align-items: center;

            li {
                a {
                    &:hover {
                        font-weight: 700;
                    }
                }
                
            }
        }
    }

    main {
        
        
        p {
            letter-spacing: 0.02rem;
            line-height: 1.5;
        }
        h1,
        h2,
        h3 {
            line-height: 1.5;
        }

        form {
            display: flex;
            align-items: center;
            gap: 1rem;

            input {
                border: 1px solid var(--very-dark-blue);
                padding: 0.7rem 8rem 0.7rem 1rem;
                font-size: 0.8rem;
                border-radius: 3px;

                &::placeholder {
                    color: var(--light-gray);
                }
            }
            button {
                padding: 0.7rem 3rem;
                background-color: var(--bright-blue);
                color: var(--light-grayish-blue);
                border: none;
                border-radius: 2px;
                font-size: 0.8rem;
                font-weight: 700;
                cursor: pointer;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                &:hover {
                    opacity: 0.75;
                }
            }
        }

        #main-section {
            display: flex;
            flex-direction: row-reverse;
            gap: 2rem;
            padding: 2rem 5rem 5rem 5rem;
            max-width: 1400px;
            margin: 2rem auto 4rem auto;

            img {
                max-width: 700px;
            }
            .main-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.75rem;

                h1 {
                    font-size: 2.5rem;
                }
            }
            
        }
        .divisor {
            margin-top: 2rem;
            width: 100%;
            height: fit-content;

            picture,
            img,
            source {
                display: block;
                width: 100%;
            }
        }
        #secondary-section {
            background-color: var(--light-grayish-blue);
            padding: 2rem 5rem 5rem 5rem;

            .secondary-section-wrapper {
                max-width: 1400px;
                margin: 0 auto;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;

                & > img {
                    max-width: 600px;
                }

                & > .main-text {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    h2 {
                        font-size: 2.5rem;
                        margin-bottom: 0.5rem;
                    }

                    a {
                        margin-top: 0.2rem;
                        color: var(--moderate-cyan);
                        border-bottom: 1px solid var(--moderate-cyan);
                        display: inline-flex;
                        width: fit-content;
                        align-items: center;
                        gap: 0.4rem;
                        padding-bottom: 0.2rem;

                        &:hover {
                            opacity: 0.65;
                        }
                    }

                    .testimonial {
                        background-color: #fff;
                        width: fit-content;
                        padding: 1.5rem 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1rem;
                        max-width: 400px;
                        margin-top: 1rem;
                        border-radius: 8px;

                        & > img {
                            width: 16px;
                        }
                                
                        
                        & > p {
                            line-height: 2;
                        }

                        .author{
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            img {
                                width: 40px;
                                border-radius: 50%;
                            }

                            .main-text {

                                strong {
                                    font-family: 'Raleway', sans-serif;
                                    font-weight: 700;
                                }
                                .small {
                                    font-size: 0.6rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        #early-access {
            background-color: var(--unsaturated-blue);
            padding: 2rem 1rem 0 1rem;
            min-height: 320px;
            display: flex;
            align-items: center;

            .early-wrapper {
                max-width: 1400px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;

                .main-text {
                    flex: 1;

                    p {
                        max-width: 55ch;
                    }

                    p,
                    h3 {
                        color: var(--light-grayish-blue);
                    }

                    h3 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }
                }

                form {
                    flex-direction: column;
                    align-items: stretch;
                    justify-content: center;
                    flex: 1;
                    max-width: 480px;

                    input {
                        border: none;
                        padding: 1rem 15rem 1rem 2rem;
                    }

                    button {
                        align-self: flex-start;
                    }
                }
            }

        }
    }

    footer {
        background-color: var(--very-dark-blue);
        
        p,
        a,
        li {
            color: var(--light-grayish-blue);
        }

        .main-footer-wrapper {

            .bottom-footer-wrapper {

                address {

                }

                ul.links {

                }

                .social {
                    
                    img {

                    }
                }
            }
        }
    }
}