@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --unsaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--very-dark-blue);
  font-size: 1rem;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

p {
  max-width: 45ch;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* SPECIFIC */
body header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
body header ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}
body header ul li a:hover {
  font-weight: 700;
}
body main p {
  letter-spacing: 0.02rem;
  line-height: 1.5;
}
body main h1,
body main h2,
body main h3 {
  line-height: 1.5;
}
body main form {
  display: flex;
  align-items: center;
  gap: 1rem;
}
body main form input {
  border: 1px solid var(--very-dark-blue);
  padding: 0.7rem 8rem 0.7rem 1rem;
  font-size: 0.8rem;
  border-radius: 3px;
}
body main form input::placeholder {
  color: var(--light-gray);
}
body main form button {
  padding: 0.7rem 3rem;
  background-color: var(--bright-blue);
  color: var(--light-grayish-blue);
  border: none;
  border-radius: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
body main form button:hover {
  opacity: 0.75;
}
body main #main-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  padding: 2rem 5rem 5rem 5rem;
  max-width: 1400px;
  margin: 2rem auto 4rem auto;
}
body main #main-section img {
  max-width: 700px;
}
body main #main-section .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.75rem;
}
body main #main-section .main-text h1 {
  font-size: 2.5rem;
}
body main .divisor {
  margin-top: 2rem;
  width: 100%;
  height: fit-content;
}
body main .divisor picture,
body main .divisor img,
body main .divisor source {
  display: block;
  width: 100%;
}
body main #secondary-section {
  background-color: var(--light-grayish-blue);
  padding: 2rem 5rem 5rem 5rem;
}
body main #secondary-section .secondary-section-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
body main #secondary-section .secondary-section-wrapper > img {
  max-width: 600px;
}
body main #secondary-section .secondary-section-wrapper > .main-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
body main #secondary-section .secondary-section-wrapper > .main-text h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
body main #secondary-section .secondary-section-wrapper > .main-text a {
  margin-top: 0.2rem;
  color: var(--moderate-cyan);
  border-bottom: 1px solid var(--moderate-cyan);
  display: inline-flex;
  width: fit-content;
  align-items: center;
  gap: 0.4rem;
  padding-bottom: 0.2rem;
}
body main #secondary-section .secondary-section-wrapper > .main-text a:hover {
  opacity: 0.65;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial {
  background-color: #fff;
  width: fit-content;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  max-width: 400px;
  margin-top: 1rem;
  border-radius: 8px;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial > img {
  width: 16px;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial > p {
  line-height: 2;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial .author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial .author img {
  width: 40px;
  border-radius: 50%;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial .author .main-text strong {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
body main #secondary-section .secondary-section-wrapper > .main-text .testimonial .author .main-text .small {
  font-size: 0.6rem;
}
body main #early-access {
  background-color: var(--unsaturated-blue);
  padding: 2rem 1rem 0 1rem;
  min-height: 320px;
  display: flex;
  align-items: center;
}
body main #early-access .early-wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
body main #early-access .early-wrapper .main-text {
  flex: 1;
}
body main #early-access .early-wrapper .main-text p {
  max-width: 55ch;
}
body main #early-access .early-wrapper .main-text p,
body main #early-access .early-wrapper .main-text h3 {
  color: var(--light-grayish-blue);
}
body main #early-access .early-wrapper .main-text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
body main #early-access .early-wrapper form {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex: 1;
  max-width: 480px;
}
body main #early-access .early-wrapper form input {
  border: none;
  padding: 1rem 15rem 1rem 2rem;
}
body main #early-access .early-wrapper form button {
  align-self: flex-start;
}
body footer {
  background-color: var(--very-dark-blue);
}
body footer p,
body footer a,
body footer li {
  color: var(--light-grayish-blue);
}

/*# sourceMappingURL=style.css.map */
